/* CSS files add styling rules to your content */

body {


  margin-top: 0px;
  margin-left: 0px;
  width: 100%;
  height: 100%;
  background-color: antiquewhite;
}


h1 {
   margin-top: 1%;
   margin-left: 1%;
  font-family: 'Rubik', sans-serif;
 /* font-family: 'Inclusive Sans', sans-serif;*/
  color: black;
  font-size: 14pt;
  font-weight: 400;
  /*width: 50%; /* == (50vw - (width of vertical scrollbar)) */
  /*height: 50%; /* == (50vh - (height of horizontal scrollbar)) */
  margin-top:0; /* == (5vw - (width of vertical scrollbar)) */
  /*padding:0; /* == (5vw - (width of vertical scrollbar)) */
  /*background: cyan;*/

  line-height: 1;

}
.sidenav{
  height:100%;
  width:18%;
  position:fixed;
  z-index:1;
  top:0;
  left:0;
  /*background-color: azure;*/
  overflow-x: hidden;
  padding-top: 0px;


}
/*.special-h2{
  margin-top:0;
}*/


a{
  color: black;
  text-decoration: none;
  line-height: 0.5;

}

a:visited{
  color:black;
}
a:hover{
  color:darkgreen;
}
h2 {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-size: 14pt;
  margin-top:0px;
  margin-left: 300px;
  position:fixed;


}
h3{
   font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-size: 11pt;
  margin-top:0px;
  margin-left:0;

}
h4{
   font-family: 'Rubik', sans-serif;
  font-weight: 300;
  margin-left:500px;}

h5{
   font-family: 'Rubik', sans-serif;
  margin-right:0px;
}

#ImSticky {
  margin-right: 0px;
}
button {
  font-family: 'Rubik', sans-serif;
 /* font-family: 'Inclusive Sans', sans-serif;*/
  background-color: black;
  border: none;
  color: white;
  padding: 10px 10px;
  width: 100%;
  /*   text-align: center; */
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 30px 2px;
  cursor: pointer;
}

p {
  margin-top: 0px;
  margin-left:100px;
  font-family: 'Rubik', sans-serif;
  font-size: 12pt;
  line-height: 10pt;
}

.left {
  width: 15%;
  padding: 1% 1% 1% 0;
  float: left;
  display: inline-block;
  /*   background-color: red; */
}

.center {
  width: 15%;
  padding: 1%;
  float: left;
  display: inline-block;
}

.right {
  width: 60%;
  padding: 1%;
  float: left;
  display: inline-block;
}

.nav {
  padding: 0%;
  width: 26%;
  height: 100%;
  display: inline-block;
  float: left;
  /*     background-color:red; */
}

.content {
  padding: 0%;
  width: 50%;

  display: inline-block;
float: left;
  /*   background-color:yellow; */
}



}.contai
ul {
  margin-left:0;
  margin-top:0px;
  padding: 0;
  line-height: 1pt;
  /*position: fixed;*/
  
}

li {
    margin-left:0;
  font-family: 'Rubik', sans-serif;
  font-size: 14pt;
  list-style-type: none;
  padding-bottom: 1em;
    line-height: 10pt;
  
}

li.bullet {
  list-style-type: "- ";
  margin:0; /*1%;*/
  padding: 0;
}

li.bullet a {
  color: blue;
}

li a {
  colocontentr: black;
  /*   text-decoration: none; */
}

iframe {
  margin-left:300px;
  padding: 0;
  border: none;
  width: 100%;
  /*   height: 400px; */
  display: inline-block;
  float: left;
  margin-bottom: 2%;
}

.full-width-box {
  width: 100%;
  margin-bottom: 2%;
  display: inline-block;
  float: left;
}

img {
  height: 400px;
  display: inline-block;
  float: left;
  margin-bottom: 2%;
  margin-right: 2%;
}

body .gist .gist-file {
  margin-bottom: 0;
  border: 1px dashed #adb5bd;
  border-radius: 0;
}

body .gist .gist-data {
  border-bottom: none;
  border-radius: 0;
  background-color: #f1f3f5;
}

body .gist .blob-wrapper {
  border-radius: 0;
}

body .gist .highlight {
  background-color: transparent;
  font-family: "Droid Sans Mono", monospace;
  font-size: 14px;
}

body .gist .highlight td {
  padding: 5px 15px !important;
  line-height: 1;
  font-family: inherit;
  font-size: inherit;
}

body .gist tr:first-child td {
  padding-top: 15px !important;
}

body .gist tr:last-child td {
  padding-bottom: 15px !important;
}

body .gist .blob-num {
  color: #ced4da;
  background-color: #495057;
  pointer-events: none;
}

body .gist .gist-meta {
  display: none;
}

.nav-link {
  font-size: 18px;
  line-height: 27px;
  cursor: pointer;
}
.nav-link a,
.nav-link a:visited {
  color: black;
  text-decoration: none;
}

#toggle {
  display: none;
}

@media only screen and (max-width: 600px) {
  body {
    font-family: "Inconsolata", monospace;
    margin: 1%;
    width: 98%;
    height: 100%;
  }
  .nav {
    
    width: 100%;
  }
  .content {
    width: 100%;
    float: left;
  }

  img {
    width: 100%;
    height: auto;
  }
}

.myBox {
  /*   background: red; */

  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;

  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;

  border: 1px solid black;
}

.fullwidth {
  width: 100%;
  float: left;
  margin-left: 40%;
  margin-top: 10%;
}

.nav{
  display: none;
}